<form class="form-wrapper" (ngSubmit)="sendEmail()">
    <h1 style="width: 200px;"> שליחת מייל</h1>




    <div class="row">
        <div class="col-md-12">
            <div class="md-form form-group">
                <label for="to">שלח ל:</label>
                <input mdbInput type="text" class="form-control" id="to" name="to" [(ngModel)]="msg.reciever" />
            </div>
        </div>



    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="md-form form-group">
                <label for="subject"> 
                    נושא:</label>
                <input mdbInput type="text" class="form-control" id="subject" name="subject" style="direction: rtl;" [(ngModel)]="msg.subject" />
            </div>
        </div>



    </div>
    <br>
    <div class="footer-wrapper">
        <input type="submit" value="שלח מייל" class="btn-nocolor" />
    </div>
</form>