<!-- <table class="table table-responsive">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Origin city</th>
    <th scope="col">Origin street</th>
    <th scope="col">Origin numbuild</th>
    <th scope="col">Destination city</th>
    <th scope="col">Destination street</th>
    <th scope="col">Destination numbuild</th>
    <th scope="col">
      <button type="button" class="btn btn-primary">send mail</button>
    </th>
  </thead>
  <tbody>
    <tr *ngFor='let item of allPackages'>
      <td>{item.UserId}</td>
      <td>{item.OriginCity}</td>
      <td>{item.OriginStreet}</td>
      <td>{item.OriginNumBuild}</td>
      <td>{item.DestinationCity}</td>
      <td>{item.DestinationStreet}</td>
      <td>{item.DestinationNumBuild}</td>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          <label class="form-check-label" for="flexCheckIndeterminate">
            choose
          </label>
        </div>
      </td>
    </tr>
  </tbody>
</table>  -->
<div class="form-wrapper-large">
    <h1>הצג חבילות</h1>
    <br>
    <button type="submit" (click)="showMyPackage()" mdbBtn class="btn-color-2">הצג פרטי נסיעות שלי </button>
    <button type="submit" (click)="deletePackages()" mdbBtn class="btn-color-2">מחק</button>
    <button type="submit" (click)="searchPackages()" mdbBtn class="btn-color-2">חפש שוב</button>
    <button type="submit" (click)="updatePackages()" mdbBtn class="btn-color-2">עדכון פרטי נסיעה </button>
    <button type="submit" (click)="showDrive()" mdbBtn class="btn-color-2">הצג פרטי נהג </button>
    <!-- //<button type="submit" (click)="submit2()" mdbBtn class="btn-color-2">הצג פרטי נסיעה של הנהג המוביל</button> -->
    <!-- <li *ngFor="let item of allPackages ">
  {{item.UserId}}
</li> -->
    <div class="col-lg-12">
        <table class="table table-responsive">
            <thead>
                <th>בחר</th>
                <th scope="col">מזהה</th>
                <th scope="col">מספר נהג</th>

                <th scope="col">כתובת מקור</th>

                <th scope="col">כתובת יעד</th>

                <th scope="col">תאריך</th>
                <th scope="col"> יציאה </th>
                <th scope="col"> הגעה </th>
                <th scope="col">סוג </th>
                <th scope="col">הערות</th>



                <!-- <th scope="col">
                    <button type="button" class="btn btn-primary">send mail</button>
                </th> -->
            </thead>
            <tbody>
                <tr *ngFor='let item of allPackages'>
                    <td> <input type="checkbox" tabindex="0" class="hidden" (change)="onSelect(item)"></td>
                    <td>{{item.Id}}</td>
                    <td>{{item.UserId}}</td>
                    <td>{{ item.OriginStreet }} &nbsp;{{ item.OriginNumBuild }} &nbsp;{{ item.OriginCity }}</td>

                    <td>{{ item.DestinationStreet }}&nbsp;{{ item.DestinationNumBuild }}&nbsp;{{ item.DestinationCity }}</td>

                    <td>{{item.Date}}</td>
                    <td>{{item.ExitTime}}</td>
                    <td>{{item.ArrivedTime}}</td>
                    <td>{{item.PackageType}}</td>
                    <td>{{item.Remarks}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>