<ol class="breadcrumb-sub">


    <li class="header-li"><a routerLink="/home" routerLinkActive="active">בית</a></li>
    <li class="header-li"><a routerLink="/login" *ngIf="noUser" routerLinkActive="active">התחבר</a></li>
    <li class="header-li"><a routerLink="/addUser" *ngIf="noUser" routerLinkActive="active">הרשם</a></li>
    <li class="header-li"><a routerLink="/addDrive" *ngIf="!noUser" routerLinkActive="active">הוסף נסיעה</a></li>
    <li class="header-li"><a routerLink="/addPackage" *ngIf="!noUser" routerLinkActive="active">הוסף חבילה</a></li>
    <!-- <li class="header-li"><a routerLink="/showDrives" *ngIf="!noUser" routerLinkActive="active">הצג נסיעות</a></li> -->
    <li class="header-li"><a routerLink="/showPackages" *ngIf="!noUser" routerLinkActive="active">הצג חבילות</a></li>
    <li class="header-li"><a routerLink="/ShowMyDriveComponent" *ngIf="!noUser" routerLinkActive="active">הצ נסיעות</a></li>

    <!-- <li class="header-li"><a routerLink="/road_map" *ngIf="!noUser" routerLinkActive="active">מפה</a></li> -->
    
    <!-- <li class="header-li"><a routerLink="/track" *ngIf="!noUser" routerLinkActive="active">מסלול</a></li> -->
    <li class="header-li"><a routerLink="/alldrives" *ngIf="!noUser" routerLinkActive="active">הצ כל הנהגים</a></li>
</ol>


<div class="bg"></div>
<router-outlet></router-outlet>
<app-road-map></app-road-map>

<!-- <app-road-map></app-road-map> -->