FinallProject/.vs/FinallProject/v15/Server/sqlite3/storage.ide
FinallProject/.vs/FinallProject/v15/Server/sqlite3/storage.ide-shm
FinallProject/.vs/FinallProject/v15/Server/sqlite3/storage.ide-wal
.vs
.git
v15