<!-- <p>show-drives works!</p> -->

<!-- <div id="right-panel">
  <div id="inputs">
    <pre>
let origin1 
let origin2 
let destinationA 
let destinationB 
        </pre>
  </div>
  <div>
    <strong>Results</strong>
  </div>
  <div id="output">
    
  </div>
</div>
<div id="map"></div> -->

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Mail</th>
      <th scope="col">Origin address</th>
      <th scope="col">Destination address</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">PackageType</th>
      <th scope="col">Remarks</th>
      <th scope="col">
        <button type="button" class="btn btn-primary">send mail</button>
      </th>
    </tr>
  </thead> -->
<!-- <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>Mark</td>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          <label class="form-check-label" for="flexCheckIndeterminate">
            choose
          </label>
        </div>
      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>



  </tbody>
</table> -->
<div class="form-wrapper-large">
    <h1>הצג נסיעות</h1>
    <br>
    <button type="submit" mdbBtn class="btn-color-2">
    שלח מייל
  </button>
    <button type="submit" (click)="DestinationOrder()" mdbBtn class="btn-color-2">
    מיין לפי יעד
  </button>
    <button type="submit" (click)="OriginOrder()" mdbBtn class="btn-color-2">
    מיין לפי מוצא
  </button>
    <button type="submit" (click)="showTrack()" mdbBtn class="btn-color-2">
    הצג מסלול במפה
  </button>
    <button type="submit" (click)="showAllTrack()" mdbBtn class="btn-color-2">
    הצג את הנסיעות הקיימים
  </button>
    <button type="submit" (click)="saveDrive()" mdbBtn class="btn-color-2">
    שמור נסיעה
  </button>

    <div class="col-lg-12">
        <table class="table table-responsive">
            <thead>
                <th>בחר</th>
                <th scope="col">שם</th>
                <th scope="col">טלפון</th>
                <th scope="col">מייל</th>
                <th scope="col">כתובת מקור</th>
                <th scope="col">מרחק למקור</th>
                <th scope="col">זמן למקור</th>
                <th scope="col">כתובת יעד</th>
                <th scope="col">מרחק ליעד</th>
                <th scope="col">זמן ליעד</th>
                <th scope="col">תאריך</th>
                <th scope="col"> יציאה </th>
                <th scope="col"> הגעה </th>
                <th scope="col">סוג </th>
                <th scope="col">הערות</th>


            </thead>
            <tbody>
                <tr *ngFor="let item of Package">
                    <td> <input type="radio" name="selectD" tabindex="0" [value]="item.Id" class="hidden" (change)="onSelect(item)" /></td>

                    <td>{{ item.Name }}</td>
                    <!-- <td>{{ item.Tz }}</td> -->
                    <td>{{ item.Phone }}</td>
                    <td>{{ item.Mail }}</td>
                    <td>{{ item.OriginStreet }} &nbsp;{{ item.OriginNumBuild }} &nbsp;{{ item.OriginCity }}</td>
                    <td>{{ item.OriginDistance }}</td>
                    <td>{{ item.OriginDuration }}</td>
                    <td>{{ item.DestinationStreet }}&nbsp;{{ item.DestinationNumBuild }}&nbsp;{{ item.DestinationCity }}</td>
                    <td>{{ item.DestinationDistance }}</td>
                    <td>{{ item.DestinationDuration }}</td>
                    <td>{{ item.Date }}</td>
                    <td>{{ item.ExitTime }}</td>
                    <td>{{ item.ArrivedTime }}</td>

                    <td>{{ item.PackageType }}</td>
                    <td>{{ item.Remarks }}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <button> -->

<!-- //<button type="submit" class="btn btn-primary" (click)="save()">save</button> -->