<!-- <p>home works!</p> -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->

 <ul>
    <li *ngFor="let item of alldrives">
{{item.UserId}}
</li> 

<li *ngFor="let item of allPackages ">
    {{item.UserId}}
</li>

<li *ngFor="let item of allTravels ">
        {{item.UserId}}
    </li>


    <li *ngFor="let item of allUsers ">
            {{item.UserId}}
        </li>
</ul>
<h1 style="background-color: aquamarine;border: blue;align-items: center;">hello to leading</h1>
<p style="background-color: rgb(115, 222, 236);border: cadetblue;align-items: center;size: 50vh;">באתר זה תוכל להוביל חבילות ומשלוחים ללא צורך בנסיעה מיוחדת 
    תוכל להעזר בהנהגים הנוסעים ליעד הרצוימ ויעיבירו את משלוחך 
</p>
<!-- {{name}}  -->