<!-- <p>home works!</p> -->
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<!-- 
 <ul>
    <li *ngFor="let item of alldrives">
{{item.UserId}}
</li> 

<li *ngFor="let item of allPackages ">
    {{item.UserId}}
</li>

<li *ngFor="let item of allTravels ">
        {{item.UserId}}
    </li>


    <li *ngFor="let item of allUsers ">
            {{item.UserId}}
        </li>
</ul> -->
<div class="form-wrapper">
    <h1 style="width: 100%;">ברוכים הבאים לאתר LEADING</h1>
    <p>באתר זה תוכל להוביל חבילות ומשלוחים ללא צורך בנסיעה מיוחדת, תוכל להעזר בהנהגים הנוסעים ליעד הרצוימ ויעיבירו את משלוחך
    </p>
</div>
<!-- {{name}}  -->